<!DOCTYPE HTML>
<html>
  <head>
    <title>Which way is {{.Target}}</title>
    <meta name="viewport" content="width=device-width; height=device-height; user-scalable=no" />
    <script type="text/javascript" src="scripts/models.js"></script>
    <script type="text/javascript" src="scripts/views.js"></script>
    <script type="text/javascript" src="scripts/controllers.js"></script>
    <script type="text/javascript" src="//webintents.org/webintents.min.js"></script>
    <script type="text/javascript" src="//webintents.org/webintents-prefix.js"></script>
    <link rel="stylesheet" href="styles/main.css" />
    <script>
      var controller;
    
      document.addEventListener("load", function() {
        var view = new GeoView();
        var model = new GeoModel();
        controller = new GeoController(view, model);
        controller.init();
        controller.getLocation();

        var target = location.pathname;
        target = target.substr(1, target.length);
       
        target.changeTarget(target);
        
      }, false);

      window.onpopstate = function(e) {
        var url = location.pathname;
        target = target.substr(1, target.length);
        target.changeTarget(target);
      };
    </script>
  </head>
  <body>
    <div id="heading">
      <p>Which way is </p>
      <input type="search" id="requestedLocation" placeholder="Amsterdam?" value="{{.Target}}" />
    </div>
    
    <div id="background">
      <img id="location" src="images/blank.png">
      <img id="target" src="images/blank.png" >
    </div>
    <img id="pointer" border="0" src="images/arrow.png" />
    <button id="share">Share</button>
    <script>
      var share = document.getElementById("share");
      share.addEventListener("click", function() {
        var i = new Intent({action: "http://webintents.org/share", "text/uri-list", location.href});
        navigator.startActivity(i);
      }, false);
    </script>
  </body>
</html>
