@font-face {
  font-family: 'Advent Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Advent Pro Regular'), local('AdventPro-Regular'), url('../fonts/AdventPro-Regular.ttf') format('truetype');
}

* {
  font-family: 'Advent Pro';
}

html {
  overflow:hidden;
}

footer {
  position: absolute;
  padding:5px;
  bottom: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
}

footer button {
  display: none;
}

#error

img { border: 0; }
.requesting {
  display: none;
}

.locationCapturing {
  background-color: orange;
}

.locationCapturing .requesting {
  display: block;
}

.locationCaptured {
  background-color: green;
}

.locationCaptureFailed {
  background-color: red;
}

.networkNone #error {
  height: 1em;
  padding: 5px;
}

#error {
  position: relative;
  z-index: 5;
  text-align: center;
  background-color: red;
  color: white;
  height: 0;
  padding: 0;
  font-family: 'Advent Pro';
  -webkit-transition: height 0.5s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow: hidden;
  background-color: #006FA3;
 }

#heading {
  position: relative;
  z-index:3;
  top:0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px black;
  background-color: white;
  padding: 5px;
  font-family: 'Advent Pro';
  border-bottom: 3px solid #80E5FF;
}

#heading input[type="search"] {
  font-size: 2em;
  font-family: 'Advent Pro';
  width: 100%;
}

#heading p {
  margin: 0 0 5px 0;
  padding: 0;

}

input::-webkit-input-placeholder {
   font-family: 'Advent Pro';
}

#location, #target {
  position: absolute;
  width: 256px;
  height: 256px;
  z-index:3;
  opacity: 0;
  -webkit-mask-box-image: url(../images/fade.png);
}

#location {
  top: 60px;
  left: 10px;
}

#target {
  bottom: 10px;
  right: 10px;
}

#background {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #006FA3;
  background-image: -webkit-linear-gradient(top, #80E5FF 0%, #006FA3 100%);
  z-index: 2;
  overflow: hidden;
}

#pointer {
  position: relative;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2s linear;
  width: 100%;
  margin:0;
  padding: 0;
  border: none;
  z-index:2;
}
